/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
}

body 	{
		font-family: 'open sans', sans-serif;
}

header {
  height: 500px;
  width: 750px; margin: 0 auto;
  background: url("../images/header_bg.jpg") no-repeat center top;
  background-size: cover;
}
.banner {
	background-color: #f9e42e;
  	font-family: Helvetica, Arial, Sans-serif;
  	padding-top: 15px;
  	padding-bottom: 15px;
  	padding-left:0px;
  	padding-right: 0px;
  	border-top: 80px;
  	border-radius: 5px;
  	font-weight: bolder;
  	margin-top: 80px;
  	margin-left: 300px;
  	margin-right: 300px;
  	text-align: center;
  	font-family: 14px
  }

h1 {
	font-size: 24px;
	font-weight: bolder;
	color: white;
	padding-top: 50px;
	padding-left:100px;
}
h2	{
	font-weight: normal;
	font-size: 24px;
	color: white;
	padding-top: 50px;
	padding-left: 175px;
}
	
#benefits	{
	padding-top: 0px;
	margin-left: 0px;
	background-color:#f0efef;
	height: 300px;
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 450px;
	font-size: 13px;
	font-weight: lighter;
	border-left: 0px;
	}
li {
	font-size: 13px;
	padding-left: 0px;
	border-left: 0px
}

h4	{
		font-weight: normal;
		font-size: 20px;
		padding-left: 0px;
}

#ocean-Waves	{
	background-color: #033048;
	color: white;
}
p.italic	{
	font-weight: bolder;
	font-style: italic;
	font-size: 18px;
}
p.amanda  {
	font-weight: inherit;
	font-size: 18px;
	height: 350px;
}
.container {
	background-color: #f9e42e;
	margin: 0px;
	height: 80px;
	padding-top: 10px;
}

  
#footer {
	height: 300px;
	background-color: #121212;
	font-size: 9px;
	font-family: bold;
	font-color: white;
}
	h1  {
		font-size: 24px;
		font-weight: bolder;
		padding-top: 50px;
		padding-left:100px;
}








