body {
	font-family: 'open sans', sans-serif;
}

h1 {
	font-size: 24px;
	font-weight: 800;
	color: white;
	padding-top: 50px;
	margin: 0 auto;
	width: 600px;

}

header h2 {
	font-weight: normal;
	font-size: 24px;
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
}

.benefits h3 {
	font-weight: normal;
	font-size: 20px;
	padding-top: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.benefits	{
	background-color:#f0efef;
	height: 300px;
	width: 100%;
	padding-left: 110px;
	margin-right: 0px;
}
.benefits p {
	font-size: 13px;
	font-weight: lighter;
	width: 35%;
}
.benefits li {
	width: 45%;
	font-size: 13px;
	font-weight: lighter;
}

header {
  height: 500px;
  width: 100%; 

  background: url("../images/header_bg.jpg") no-repeat center top;
  background-size: cover;
}

.banner {
	background-color: #f9e42e;
  	font-family: Helvetica, Arial, Sans-serif;
  	padding-top: 15px;
  	padding-bottom: 15px;
  	padding-left:0px;
  	padding-right: 0px;
  	border-top: 80px;
  	border-radius: 5px;
  	font-weight: bolder;
   	margin: 0px auto 0px auto;
   	width: 200px;
  	text-align: center;
  	font-family: 14px
 }
.ocean	{
	background-color: #033048;
	height: 300px;
	margin-top:-50px;
	text-align: center;
	color: white;
}
.ocean p	{
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	font-weight: bolder;
	font-style: italic;
	font-size: 18px;
	width: 40%;
}
.ocean h4  {
	font-weight: inherit;
	font-size: 18px;
	font-style: normal;
	height: 350px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	width: 500px;
	}
.container {

	background-color: #f9e42e;
	height: 80px;
	width: 800px;
}
.signupnow {
	text-align: center;
	border-top: 20px
	width: 200px;
}
}
	/* background-color: #f9e42e;
	height: 80px;
	font-size: 12px;
	padding: 0 auto;
  	border-top: 80px;
  	border-radius: 5px;
  	font-weight: bolder;
  	margin-top: 80px;
  	margin-left: 300px;
  	margin-right: 300px;
  	text-align: center;
  	font-family: 14px */
  }
#footer {
	height: 300px;
	background-color: #121212;
	font-size: 9px;
	font-family: bold;
	font-color: white;
}







